/* filter */
.game-filter {
    display: flex;
    flex-wrap: wrap;
  }
  
  .game-filter label {
    display: block;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }
  
  .game-filter select {
    width: 200px;
    font-size: 19px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  .game-filter  button {
    font-size: 19px;
    width: 120px;
    height: 40px;
    margin: 0 0 0 10px;
  }
  
  /* Items */
  .game-item {
    background-color: #fff;
    padding: 15px;
    border: solid 1px #aaa;
    margin-top: 10px;
  }
  
  .game-item span {
    color: #777;
    font-size: 19px;
    font-weight: normal;
    margin-top: 10px;
  }
  
  .game-item h3 {
    color: #008080;
    font-size: 26px;
    margin: 0;
    padding: 0;
  }
  
  .game-item div {
    color: #333;
    font-size: 19px;
    margin: 10px 0;
  }
  
  .game-item div b {
    font-size: 17px;
  }
  
  /* Button */
  .game-item button {
    display: inline-block;
    font-size: 17px;
    width: 160px;
    height: 40px;
    margin: 0 10px 0 0;
  }

  body {
    margin: 0;
    padding: 0;
    font: 100%/1.6 "roboto", san-serif;
    font-size: 1.3em;
    }
    
    .nav-container {
      display: flex;
      flex-direction: column;
      margin: 0 5%;
      align-items: center;
    }
    
    #mainHead {
      font-family: "Pacifico", cursive;
      color: #292b75;
      font-size: 2.5em;
    }
    
    .top-nav {
      width: 65%;
      background-color: #38c4c1;
    }
    
    .nav-container ul {
      padding: 0;
    }
    
    .nav-container li {
      list-style: none;
      margin: 20px 0;
      text-align: center;
    }
    
    .nav-container a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding: 10px;
      font-weight: bold;
      opacity: 0.5;
      transition: opacity 5s;
    }
    .nav-container a:hover {
      color: white;
    }
  form{
    
    border: 2px solid black;
    margin: 10px 40px;
    padding: 2%
  }
  [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 25%;
    background: #cc6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 15px;
    height: 40px;
   align-items:flex-end;
    
  }
  /* filter */
  .game-filter {
    display: flex;
    flex-wrap: wrap;
  }
  
  .game-filter label {
    display: block;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }
  
  .game-filter select {
    width: 200px;
    font-size: 19px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  .game-filter  button {
    font-size: 19px;
    width: 120px;
    height: 40px;
    margin: 0 0 0 10px;
  }
  
  /* Items */
  .game-item {
    background-color: #fff;
    padding: 15px;
    border: solid 1px #aaa;
    margin-top: 10px;
  }
  
  .game-item span {
    color: rgb(3, 0, 0);
    font-size: 28px;
    font-weight: normal;
    margin-top: 10px;
  }
  
  .game-item h3 {
    color: #2f3838;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  .game-item div {
    color: #333;
    font-size: 19px;
    margin: 10px 0;
   flex-direction: row;
  }
  
  .game-item div b {
    font-size: 17px;
  }
  
  /* Button */
  .game-item button {
    display: inline-block;
    font-size: 17px;
    width: 160px;
    height: 40px;
    margin: 0 10px 0 0;
  }
    @media screen and (min-width: 1000px) {
      .nav-container {
        flex-direction: column;
      }
      .top-nav {
        width: 100%;
        text-align: center;
      }
      .nav-container li {
        display: inline;
        margin: 0 2%;
        border: none;
      }
      .nav-container li:hover {
        border-bottom: 2px solid #292b75;
      }
      
     
    }
    
    @media screen and (min-width: 1300px) {
      .nav-container {
        flex-direction: row;
        justify-content: space-between;
      }
      .top-nav {
        width: 70%;
      }
    }
    